*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 80%;
    background: url(/imagenes/203119.jpg);
    margin: auto;
}
.otros{
    position: relative;
    top: -250px;
}
#iml{
    width: 300px;
}
#formu{
    background-image: url(/galeria/giphy.gif);
background-position: center;
    background-repeat:no-repeat ;
    text-align: center;
    border: 2px solid black;
    margin: 1px ; 
    text-align: center;
    color: rgb(0, 0, 0);
    position: center;
padding: 50px;
font-size: 20px;

}
.enviar{
    background-color: cyan;
    cursor: pointer;
    border: darkcyan;
    font-family: cursive;
    font-size: 20px;
    width: 100px;
    
}
input[type="submit"]:hover{
    background-color: rgb(61, 228, 158);
cursor: pointer;
}
#nombre{
    position: relative ;
    left: -10px;
}
#correo{
    
    margin: 2px ; 
    text-align: center;
    
}
#guia2{
    width: 300px;
    height: 250px;
}
header{
    
height: 200px;
border-radius: 20px 20px 20px 20px;
}
.logo{
    width: 250px;
    margin: 10px 0 0 50px;
}header h1{
    font-family: monospace;
    font-size: 50px;
    color: white;
    position: relative;
    left: 300px;
    top: -120px;
    text-shadow: 2px 2px 2px red;
margin: 20px;
}
nav{
    border-radius: 10px;
    background: rgb(157, 206, 221);
overflow: hidden;
}
nav ul li{
    list-style-type: none;
    font-size: 20px;
    color: white;
    margin: 10px 100px 0 0;
    
}
nav ul li a{
color: white;
text-decoration: none;
float: right;
width: 120px;
height: 50px;
margin: 10px 10px 10px 10px;
padding: 1px 5px 0px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul li a:hover{
    background-color: violet;
    color: black;
}
section{
    border-radius: 10px;
    background-color: rgb(157, 206, 221);
width: 70%;

}
.creditos{
    font-size: 30px;
}
article{
    background-color: lightblue;
width: 90%;
margin: 10px 5px 10px 20px;
height: 380px;
border: 1px solid black;
border-radius: 10px;
box-shadow: 2px 2px 5px green;
}
section,aside{
float: left;

}
#gale{
    width: 200px;
    height: 150px;
}
article h2{
    background-color: rgb(42, 42, 77);
    text-align: center;
    height: 50px;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    margin: 10px 0 0;
    padding: 10px 0 0 0;
}
aside{
    width: 30%;
    height: 810px;
}
.primero img{
    width: 130px;
    border-radius: 10px;
    float: left;
margin: 20px;
}
.segundo img{
    width: 200px;
    height: 200px;
    margin: 20px;
    float: right;
}
article p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px 10px 15px 30px;
    font-size: 18px;
    text-align: justify;
    
}
aside h2{
    border-radius: 10px;
    background-color: rgb(163, 94, 94);
    height: 30px;
    color: rgb(246, 248, 248);
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
    padding-top: 15px;
}
aside a{
    border-radius: 10px;
    display: block;
text-decoration: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: rebeccapurple;
color: white;
padding: 15px 0 15px 20px;
margin-bottom: 5px;

}
aside a:hover{
    background-color: rgb(122, 95, 209);
    color: black;
}
aside p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 20px;
    margin: 30px 15px 30px 15px;
}
footer{
    height: 20px;
    clear: both;
    background-color: darkturquoise;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    padding: 10px 0 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cuadro{
    background-color: cyan;
}.historia{
    background-color: blue;
    width: 80%;
    border: 1px solid cyan;
    margin: auto;
}
.iman{
    position: relative;
    top: -200px;
}
.table{
    background-color: blueviolet;
}
@media only screen and (max-width: 500px) {
    body {
    background-color: rgb(217, 240, 154);
     width: 100%;    
}
    .logo{
        width: 120px;
    }
    header h1{
        font-size: 25px;
        position: relative;
        left: 180px;
        top: -50px;
    }
    header{
        height: 100px;
    }
    nav ul li a{
        width: 100%;
        display: block;
        background-color: #b2cabc;
        height: 25px;
        padding:  0 5px 30px;
        margin: 1px 0 2px 0;
        font-size: 15px;
        
    }
    section,aside{
        width: 100%;
    }
    section h2{
        font-size: 20px;
        height: 25px;
    }
    .primero img{
        width: 100px;
    }
    .segundo img{
        width: 150px;
    }
    section article{
        overflow:auto ;
    }
    }
    /* Tablet Styles */
    @media only screen and (min-width: 520px) and (max-width: 960px) {
    body {
    background-color: rgb(103, 170, 233);
    width: 95%;
    }
    header h1{
    font-size: 50px;
    position: relative;
    top: -80px;
    left: 190px;
    }
    .logo{
        width: 150px;
    }
    header{
        height: 150px;
    }
    section article{
        overflow:auto;
    }
    section article h2{
        font-size: 20px;
    }
    nav ul li a{
        width: 90px;
    }
    }
    /* Desktop Styles */
    @media only screen and (min-width: 961px) {
    body {
    background-color: rgb(84, 228, 84);
    }
    }
    